<main class="footercta" role="main">
    <div class="container">
        <div class="logo"> <h1>{{appName}}</h1>
        </div>
        <h1 translate="TAGLINE"></h1>

        <div class="row">
            <div class="col-md-6 col-sm-12 col-md-offset-3 subscribe">
                <form class="form-horizontal" role="form" ng-submit="addUser()" id="subscribeForm" method="POST">
                    <div class="form-group">
                        <div class="col-md-7 col-sm-6 col-sm-offset-1 col-md-offset-0">
                            <input class="form-control input-lg" name="email" ng-model="email" type="email" id="address" placeholder="{{ 'ENTER_EMAIL' | translate }}"
                                   data-validate="validate(required, email)" required="required">
                        </div>
                        <div class="col-md-5 col-sm-4">
                            <button type="submit" class="btn btn-success btn-lg" translate="SUBSCRIBE_NOW"></button>
                        </div>
                    </div>
                    <div class="alert-success" translate="{{message}}">
                    </div>
                </form>
                <span id="result" class="alertMsg"></span> </div>
        </div>

        <a href="./#/#explore" class="scrollto">
            <p translate="KNOW_MORE"></p>
            <p class="scrollto--arrow"><img src="images/scroll_down.png" alt="scroll down arrow"></p>
        </a>
    </div><! --/container -->
</main><! --/main -->


<! -- ******************** FEATURES SECTION ******************** -->
<div class="container" id="explore">

    <!--<div class="section-title">
        <h2>Creas tu usuario.</h2>
        <h4>This theme is ideal for your Web Project or your App.</h4>
    </div>

    <section class="row heroimg breath">
        <div class="col-md-12 text-center">
            <img src="images/flat-mockup-template.png" alt="flat-mockup-template">
        </div>
    </section><! --/section --> -->

    <div class="section-title">
        <h2 translate="TEACH_YOU"></h2>
        <h4 translate="SEND_PACKAGE"></h4>
    </div>

    <section class="row features">
        <div class="col-sm-12 col-md-4">
            <div class="thumbnail">
                <img class="service-icon" src="images/service_02.png" alt="analytics-icon">
                <div class="caption">
                    <h3 translate="CREATE_USER"></h3>
                    <p translate="IS_SIMPLE"></p>
                </div>
            </div><! --/thumbnail -->
        </div><! --/col-sm-6-->

        <div class="col-sm-12 col-md-4">
            <div class="thumbnail">
                <img class="service-icon" src="images/mapa.png" alt="analytics-icon">
                <div class="caption">
                    <h3 translate="PUBLISH"></h3>
                    <p></p>
                </div>
            </div><! --/thumbnail -->
        </div><! --/col-sm-6-->

        <div class="col-sm-12 col-md-4">
            <div class="thumbnail">
                <img class="service-icon" src="images/ok.jpg" alt="analytics-icon">
                <div class="caption">
                    <h3 translate="USERS_TAKE_CARE"></h3>
                    <p translate="CHEAPER"></p>
                </div>
            </div><! --/thumbnail -->
        </div><! --/col-sm-6-->

        <!--<div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="images/service_04.png" alt="analytics-icon">
                <div class="caption">
                    <h3>Important Feature 4</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div><! --/thumbnail -->
        <!--</div>--><! --/col-sm-6-->
    </section><! --/section -->


<! -- ******************** FEATURES SECTION ******************** -->
<div class="container" id="explore">

    <!--<div class="section-title">
        <h2>Creas tu usuario.</h2>
        <h4>This theme is ideal for your Web Project or your App.</h4>
    </div>

    <section class="row heroimg breath">
        <div class="col-md-12 text-center">
            <img src="images/flat-mockup-template.png" alt="flat-mockup-template">
        </div>
    </section><! --/section -->

    <div class="section-title">
        <h4 translate="EAR_MONEY"></h4>
    </div>

    <section class="row features">
        <div class="col-sm-12 col-md-4">
            <div class="thumbnail">
                <img class="service-icon" src="images/service_02.png" alt="analytics-icon">
                <div class="caption">
                    <h3 translate="CREATE_USER"></h3>
                    <p translate="IS_SIMPLE"></p>
                </div>
            </div><! --/thumbnail -->
        </div><! --/col-sm-6-->

        <div class="col-sm-12 col-md-4">
            <div class="thumbnail">
                <img class="service-icon" src="images/service_04.png" alt="analytics-icon">
                <div class="caption">
                    <h3 translate="CHECK_LIST"></h3>
                    <p></p>
                </div>
            </div><! --/thumbnail -->
        </div><! --/col-sm-6-->

        <div class="col-sm-12 col-md-4">
            <div class="thumbnail">
                <img class="service-icon" src="images/seleccion.jpg" alt="analytics-icon">
                <div class="caption">
                    <h3 translate="TAKE_ORDER"></h3>
                    <p translate="WE_GIVE_YOU_CONTACT_INFO"></p>
                </div>
            </div><! --/thumbnail -->
        </div><! --/col-sm-6-->

        <!--<div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="images/service_04.png" alt="analytics-icon">
                <div class="caption">
                    <h3>Important Feature 4</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>--><! --/thumbnail -->
</div><! --/col-sm-6-->
</section><! --/section -->




<! -- ******************** TESTIMONIALS SECTION ******************** -->
<div class="highlight testimonials">
    <div class="container">
        <div class="section-title">
            <h2 translate="TESTIMONIALS"></h2>
            <h4></h4>
        </div>

        <section class="row breath">
            <div class="col-md-6">
                <div class="testblock" translate="TESTIMONIAL_1"> </div>
                <div class="clientblock">
                    <img src="images/customer-img-1.jpg" alt=".">
                    <p><strong>Luis Krumpkamp</strong> <br>
                        <label translate="LAWYER"></label>
                    </p>
                </div>
            </div><! --/col-md-6 -->

            <div class="col-md-6">
                <div class="testblock" translate="TESTIMONIAL_2"> </div>
                <div class="clientblock">
                    <img src="images/customer-img-2.jpg" alt=".">
                    <p><strong>Nicolás Gericke</strong> <br>
                        <label translate="CUBIKA_CEO"></label>
                    </p>
                </div>
            </div><! --/col-md-6 -->
        </section><! --/section -->

    </div><! --/container -->
</div><! --/highlight Testimonials -->



</div><! --/container -->

